# The node_modules directory is for storing dependencies for Stellar.
/node_modules/

# The build, .svelte-kit and package directories are for storing the compiled output of Stellar.
/build
/.svelte-kit
/package

# The .vscode directory is for storing the user's settings for VSCode.
/.vscode/

# The .DS_Store file is used by Finder on MacOS to store metadata about the directory.
.DS_Store

# The .idea directory is for storing the user's Jetbrains editing environment project files.
/.idea/

# A .env file is commonly used to store environment variables. These could be sensitive information.
.env